.about-us {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.about-content-1 {
    width: 30%;
    margin-top: 130px;
}

.about-content-2 {
    width: 70%;
}

.about-content-3 h4 {
    margin-top: -10px;
}

.about-content-3 p {
    margin-top: -15px;
}

.about-content-1 img {
    width: 90%;
    height: 50%;
    position: relative;
    top: -115px;
    margin-left: -25px;
}
 
.image {
    position: relative;
    top: -125px;
}

.last-section img {
    width: 300px;
    height: 200px;
    margin-top: -75px;
    margin-left: -30px;
    margin: 10px;
}

.location-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.about-content-4 img {
    width: 300px;
    height: 200px;
    margin-top: -75px;
    margin: 10px;
    
}

.about-image-3 img {
    width: 300px;
    height: 200px;
    margin-top: -75px;
    margin: 10px;
}
