.about-us {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.about-content-1 {
    width: 20px;
    height: 30px;
    margin-left: -50px;
    margin-top: 130px;
}

.about-content-2 {
    width: 70%;
    margin-right: -40px;
}

.about-content-3 h4 {
    margin-top: -10px;
}

.about-content-3 p {
    margin-top: -15px;
}

.about-content-1 img {
    width: 400px;
    height: 250px;
    position: relative;
    top: -115px;

}
 
.image {
    position: relative;
    top: -125px;
    
}

.last-section img,
.about-content-4 img,
.about-image-3 img {
    width: 320px;
    height: 180px;
    margin-top: -75px;
    margin: 10px;
   
}

.last-section img {
    width: 320px;
    height: 180px;
    margin-left: -455px;
    margin-top: 110px;
}

.about-image-3 {
    width: 20px;
    height: 180px;
    margin-left:150px;
    margin-top: 100px;

}

.about-content-4 img {
    width: 420px;
    height: 180px;
    margin-top:110px;
    margin-left: 90px;
}



.about-gallery {
    display: flex;
    margin: 20px;
    align-items: left;
    margin: 20px;
    align-items: left;
    justify-content: left;
  
    
}




