.image img{
    width: 125px;
    height: 125px;
    position: relative;
    top: -100px;
    float: right;
}

.second-section img {
    width: 300px;
    height: 200px;
    margin-top: 50px;
}

.text {
    margin-left: 330px;
}