/* Home page is connected to the css */

/* Custom CSS for the container */

.custom-container {
    max-height: 160px;
    padding-bottom: 40px;
    margin-top: -20px;
    background-color: #17a2b8;
    color: white;
    padding: 10px;
  }

  .text1 {
    color: green;
    text-align: center;
  }
  
  