/* Home page is connected to the css */

/* Custom CSS for the container */

.custom-container {
  max-height: 160px;
  background-color: #17a2b8;
  color: white;
  padding: 10px;
}

.cust-cont {
  width: 90%;
  margin: auto;
}

.custom-container .image img{
  width: 200px;
  float: right;
  clear: both;
}

.page-cont {
  width: 90%;
  margin: 10px auto;
}

 
  