/* Home page is connected to the css */

/* Custom CSS for the container */
body {
  background-color: #e4e4cd; 
}
.custom-container {
  max-height: 160px;
  background-color: #17a2b8;
  color: white;
  padding: 10px;
}

.cust-cont {
  width: 90%;
  margin: auto;
}

.custom-container .image img{
  width: 200px;
  float: right;
  clear: both;
}

.page-cont {
  width: 90%;
  margin: 10px auto;
}



 .home-content {
  margin-bottom: -32px; /* this will make the buttons go up more. change here */
  text-align: center;
 }

 .home-gallery {
  display: flex;
  justify-content: center; /* Center align the items horizontally */
  align-items: center; /* Center align the items vertically */
}

.homeimg-1 img,
.homeimg-2 img,
.homeimg-3 img {
  width: 400px;
  height: 200px;
  margin: 20px; /* Adjust spacing between images */
  margin-top: 30px;
}

.homeimg-1 img {
  margin-right: 35px;
}
.homeimg-2 img {
  margin-right: 35px; /* Increase spacing between the second image and the first image */
}

.homeimg-3 img {
  margin-right: 155px; /* Increase spacing between the third image and the second image */
}

.welcome-text {
  text-align: center;
 margin-left: 110px;
 margin-bottom: 30px;;

}



.view-more1 {
     width: 150px;
    height: 50px;
    font-size: 18px;
  margin-bottom: 60px;
    background-color: purple;
    color: white;
    margin-left: 175px;
}

.view-more2 {
  margin-left: 20px;
  width: 150px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 60px;
    background-color: purple;
    color: white;
    margin-left: 175px;
}

.view-more3 {
  margin-left: 20px;
  width: 150px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 60px;
    background-color: purple;
    color: white;
    margin-left: 175px;
}

.home-paragraph {
 
  margin-top: -30px;
  text-align: left;
}