
.images-container {
    width: 40%;
    float: right;
    margin-top: -140px; /* Adjust this value as needed */
}


.productspage {
    margin-left: 35px;
    font-size: 20px;
}




.product-img1 img { /* the box is on the right, next to the box on the left */
    width: 400px;
    height: 250px;
    margin-left: 150px;
    margin-top: -80px;

   
}

.product-img2 img { /* the box, is on the left */
    width: 400px;
    height: 250px;
    margin-left: -350px;
   margin-top: -260px;
   margin-bottom: 95px;
}

.product-img3 img { /* the airfreight */
    width: 390px;
    height: 240px;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: -75px;
   
}

.product-img4 img { /* the enevlop */
    width: 390px;
    height: 240px;
    margin-left: -350px;
    margin-bottom: 65px;  
    margin-top: -315px;
    
}
