
.images-container {
    width: 40%;
    float: right;
    margin-top: -140px; /* Adjust this value as needed */
}

.images-container img{
    width: 200px;
    height: 200px;
}

.productspage {
    margin-left: 35px;
    font-size: 20px;
}