/* Maintain consistency with home and about page CSS */
.custom-container {
    max-height: 160px;
    background-color: #17a2b8;
    color: white;
    padding: 10px;
}

.cust-cont {
    width: 90%;
    margin: auto;
}

.custom-container .image img {
    width: 200px;
    float: right;
    clear: both;
}

.page-cont {
    width: 90%;
    margin: 10px auto;
}

.services-page img {
    width: 200px;
    height: 200px;
}

.images {
    width: 40%;
    float: right;
    margin-top: -280px;
}

.serviceimg-1 img {
    width: 420px;
    height: 200px;
    margin-bottom: -170px;
    margin-left: 60px;
}

.serviceimg-2 img {
    width: 450px;
    height: 350px;
    margin-left: -550px;
}

.serviceimg-3 img {
    width: 420px;
    height: 200px;
    margin-left: 60px;
    margin-top: -140px;
}

.services-page {
    font-size: 20px;
    margin-left: 30px;
}

.services-text {
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    color: black;
    margin-left: 70px;
    margin-top: 70px;
}
