.services-page img {
    width: 200px;
    height: 200px;
}

.images {
    width: 40%;
    float: right;
    margin-top: -280px;
}

.serviceimg-1 img {
    width: 320px;
    height: 200px;
  margin-bottom: -170px;
    margin-left: -50px;
}

.serviceimg-2 img {
    width: 450px;
    height: 350px;
    margin-left: -550px;
}

.serviceimg-3 img {
    width: 320px;
    height: 200px;
    margin-left: -50px;
    margin-top: -140px;
}

.services-page {
    font-size: 20px;
    margin-left: 30px;
}

.services-text {
 
    font-size: 25px;
    margin-top: 20px;
   font-weight: bold;
    color: black;
    margin-left: 70px;
    margin-top: 70px;
}
