

.image {
    position: relative;
    top: -125px;
}

.services-page img {
    width: 200px;
    height: 200px;
}
.images {
    width: 40%;
    float: right;
    margin-top: -350px;

}

.serviceimg-1 {
    margin-left: 360px;
    width: 70px;
    height:70px;

}

.serviceimg-2 {
width: 150px;
height: 150px;
}

.serviceimg-3 {
    margin-left: 360px;
    width: 70px;
    height:70px;
}
.services-page {
    font-size: 30px;
    margin-left: 30px;
}

.services-button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
    background-color: purple;
    color: white;
    margin-left: 30px;
}