/* Custom styles for the footer */
.custom-footer {
  color: #ffffff;
  background-color: purple;
}

/* Styles for the links in the footer */
.custom-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-footer ul li {
  margin-bottom: -5px;
}

.custom-footer ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
}

.custom-footer ul li a.active,
.custom-footer ul li a.active:hover {
  color: #006833;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}

/* Optionally, if you want to make the footer fixed at the bottom of the page */
/* .fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */




  
  