#footer {
  color: #ffffff;
  background-color: #006833;
}

.hf-fcontact ul img {
  width: 20px;
  height: 20px;
}

.location {
 background-color: #ffffff;
}

.Phone {
  background-color: #ffffff; 
}

.hf-fsocial ul img {
  width: 30px;
  height: 30px;
  padding: 0 3px;
  
}

.hf-footer ul li {
  list-style-type: none;
 
}

.hf-flinks a.active,
.hf-flinks a.active:hover {
color:#006833;
background-color: white;
padding: 3px;
border-radius: 5px;
}

@media only screen and (min-width: 451px) {

  .hf-footer, .hf-fsocial ul {
      display: flex;
      flex-flow: row wrap;
  }

  .hf-footer {
      justify-content: space-around;
  }

  .hf-footer h3 {
      font-variant: small-caps;
  }

  .hf-fcontact h3 {
      margin-left: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .hf-footer {
      padding: 0 25px;
  }

  .hf-footer h3 {
      font-variant: small-caps;
  }

  .hf-fcontact img {
      display: inline;
  }
      
}

  
  