
#footer {
  color: #ffffff;
  background-color: #006833;
}



.hf-footer ul li {
  list-style-type: none;
 
}

.hf-flinks a.active,
.hf-flinks a.active:hover {
color:#006833;
background-color: white;
padding: 3px;
border-radius: 5px;
}

@media only screen and (min-width: 451px) {

  .hf-footer, .hf-fsocial ul {
      display: flex;
      flex-flow: row wrap;
  }

  .hf-footer {
      justify-content: space-around;
  }

  .hf-footer h3 {
      font-variant: small-caps;
  }

  .hf-fcontact h3 {
      margin-left: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .hf-footer {
      padding: 0 25px;
  }

  .hf-footer h3 {
      font-variant: small-caps;
  }

  .hf-fcontact img {
      display: inline;
  }
      
}


.custom-footer {
  color: #ffffff;
  background-color: purple;
}


.custom-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-footer ul li {
  margin-bottom: -5px;
}

.custom-footer ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
}

.custom-footer ul li a.active,
.custom-footer ul li a.active:hover {
  color: #006833;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}


.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} 




  
  